<div class="workShowcase__item workShowcase-{{project.id}}">
    <a href="{{project.slug}}" class="workShowcase__preview">
        <picture class="workShowcase-image">
            <source media="(max-width: 992px)" srcset="{{project.image1x}}">
            <img src="{{project.image2x}}"  alt="{{project.title}}, Faizur" class="lazy">
        </picture>

    <div class="workShowcase__caption">
        <h5 class="h5">
            <span class="workShowcase-title fontWeightMedium">{{project.title}}</span>
            <span class="workShowcase-subhead fontWeightRegular">{{project.text}}</span>
        </h5>
    </div>
    </a>
</div>