<div class="productcard" id="{{product.id}}">
    <a href="#" class="link-overlap"></a>
    <div class="productcard__image">
        <div class="productcard__image-inner">
            <div class="productcard-image-container" style="transform: translate3d(0, 0px, 0px);">
                <img src="{{product.image}}" class="lazy image" alt="{{product.title}} - faizur">
            </div>
        </div>
    </div>
    <div class="productcard__body">
        <div class="productcard-row productcard-tags">
            <div class="left {{ product.tags }}">
                <span class="productcard-tag --new">
                    <svg class="svgIcon-root" width="16" height="18" viewBox="0 0 16 18" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.967 0L0.75 11H8L7.033 18L15.25 7H8L8.967 0Z"/>
                </svg>{{product.new}}</span>
                <span class="productcard-tag --offer">{{product.offer}}</span>
                <span class="productcard-tag --bestSelling">{{product.bestSelling}}</span>
            </div>
            <div class="right">
                <span class="productcard-tag --category">{{product.category}}</span>
            </div>
        </div>
        <div class="productcard-row productcard-heading">
            <h2 class="productcard-title">{{product.title}}</h2>
            <p class="productcard-describe">{{product.describe}}</p>
        </div>
        <div class="productcard-row productcard-pricing">
            <span class="productcard-meta">{{product.meta}}</span>
            <div class="productcard-price {{product.discountClass}}">
                <strong class="discount">{{product.discount}}</strong>
                <span class="original-price">{{product.originalPrice}}</span>
                <strong class="offer-price">{{product.offerPrice}}</strong>
            </div>
        </div>
    </div>
</div>