<section class="c-creation" style="background-color: #38383b">

    <div class="c-creation-content">
        <div class="c-creation-container">

            <div class="c-creation-top" data-sal="header">
                <span class="comman-label colorTextWhite">creation</span>
                <h2 class="headline h2 fontWeightMedium colorTextWhite">
                    Things I create
                    <i>As a content creator</i></h2>
            </div>

            <div class="c-creation-bottom">
                <div class="creation">
                    <div class="creationList ">
                        <a href="{{ link.youtube }}" target="_blank" class="creationListItem">
                            <h5 class="creationListItem__name h6">YouTube<i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">I upload videos covering UX/UI design, freelancers and productivity.</span>
                        </a>
                        <a href="{{ link.instagram }}" target="_blank" class="creationListItem">
                            <h5 class="creationListItem__name h6">Instagram<i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">Sharing daily inspiration, tips and my work process.</span>
                        </a>
                        <a href="shop.html" class="creationListItem">
                            <h5 class="creationListItem__name h6">Faizur Store<i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">I create high-quality design resources for creatives</span>
                        </a>
                        <a href="{{ link.blog }}" target="_blank" class="creationListItem">
                            <h5 class="creationListItem__name h6">Design blogs<i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">Read about the process and actions behind the great design.</span>
                        </a>
                        <a href="{{ link.dribbble }}" target="_blank" class="creationListItem">
                            <h5 class="creationListItem__name h6">Design
                                Work<i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">Sharing most of my client work & current projects on Dribbble.</span>
                        </a>
                        <a href="{{ link.appointment }}" target="_blank" class="creationListItem">
                            <h5 class="creationListItem__name h6">Consulting<i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">I upload videos covering premium tech, design and lifestyle.</span>
                        </a>
                        <a href="{{ link.unsplash }}" target="_blank" class="creationListItem">
                            <h5 class="creationListItem__name h6">Photography work<i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">Capturing moments and share with world</span>
                        </a>
                        <a class="creationListItem">
                            <h5 class="creationListItem__name h6">The Newsletter <i>
                                    <svg class="svgIcon-root icon-right">
                                        <use xlink:href="icons/icons.svg#icon-arrow-right"></use>
                                    </svg>
                                </i></h5>
                            <span class="creationListItem__label">Coming soon...</span>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>


</section>